src/main/mule/testgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="656fbdf6-f7e6-4c2d-a259-d7c7d5459b9f" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="testgitFlow" doc:id="84096fcc-8b49-4ff6-968f-dc4061511bf2" >
		<http:listener doc:name="Listener" doc:id="15662246-0b54-4c63-9000-f17d39639939" config-ref="HTTP_Listener_config" path="/success"/>
		<set-payload value='#["hello"]' doc:name="Set Payload" doc:id="bb978fbb-136e-4de4-8008-9cd4b5324482" />
		<logger level="INFO" doc:name="Logger" doc:id="d098c030-916d-4239-a228-c7a0f4eb46d1" message="#[payload]"/>
	</flow>
</mule>
